/*
blue: #4285F4
red: #DB4437
green: #0F9D58
yellow: #F4B400
orange: #FF8C00
purple: #9B30FF
*/

/* default settings */

body {
    /* font-family: 'Cardo', serif; */
    font-family: 'Dosis', sans-serif;
    background: whitesmoke;
}


/* header section */

header {
    /* font-family: 'Cardo', serif; */
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 56px;
    background-image: linear-gradient(to right, black, black, black, black, black, black);
    color: white;
    padding: 0% 2%;
    border-radius: 0px 0px 25px 25px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1 {
    float: left;
    height: 56px;
    margin: 0px;
    color: white;
    font-weight: 800;
}

.solo-header-button {
    height: 56px;
    /* font-family: 'Cardo', serif; */
    font-family: 'Dosis', sans-serif;
    min-width: 100px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.solo-header-button:hover {
    background: whitesmoke;
    color: black;
}


/* hover dropdowns */

.dropbtn {
    height: 56px;
    /* font-family: 'Cardo', serif; */
    font-family: 'Dosis', sans-serif;
    min-width: 100px;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 25px 25px 0px 0px;
}

.dropdown {
    margin: 0px 5px;
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 25px 25px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: whitesmoke;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown-content-last {
    border-radius: 0px 0px 25px 25px;
}

.body-container {
    margin: 2% 5%;
}

.card {
    margin-bottom: 25px;
    width: 100%;
    background: white;
    float: right;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    /* 5px rounded corners */
    padding: 10px;
}

/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* not being applied to buttons
.btn-black {
    background-image: linear-gradient(to bottom right, black, white, white, black);
    color: black;
    width: 100%;
    border: black
    1px solid;
    border-radius: 10px;
}

.btn-black:hover {
    background-image: linear-gradient(to top right, black, white, white, black);
}
*/

footer{
    display: table;
    text-align: center;
    width: 100%;
    background: black;
    /* background-image: linear-gradient(to right, black, black, whitesmoke, whitesmoke, black, black); */
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    bottom: 0px;
    position: fixed;
}

.card {
    border-radius: 10px;
}

.copyright{
    padding: 1px;
    color: white;
    position: fixed;
}

.colonistLogo{
    right: 2%;
    position: fixed;
    z-index: 1;
    float: right;
    max-width: 150px;
    border-radius: 10px
}

.catanLogo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

#sonderMedia{
    color: black;
    left: 1%;
    position: fixed;
    z-index: 1;
    padding: 5px;
}

/* styling for the right most column */
.findUsHere > a{
    background: white;
    color: black; width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    display: block;
}

.explore > a{
    background: black;
    color: white;
    width: 100%;
    border: black 1px solid;
    border-radius: 10px;
    display: block;
}

.btn{
    margin-bottom: 5px;
    display: block;
}

/* styling for headers */
h2{
    font-size: 48px;
}

h2, h3 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    font-weight: 500px;
}

h5{
    font-weight: 400px;
}

h6{
    font-weight: 300px;
}

p{
    font-weight: 200px;
}

.col-12{
    text-align: center;
}

button{
    margin: 10px;
}

.floatRight{
    float: right;
    margin: 20px;
    display: inline;
}

.floatLeft{
    float: left;
    margin: 20px;
    display: inline;
}

.center{
    text-align: center;
}