{% extends 'layout.html' %}
{% block content %}

<div class="row">

    <div class="col-8">
        <h2 >Welcome to Our Settlers of Catan League!</h2>
        <p style="float:left;">Enjoy Catan? Join our league where you will play against players of all skill levels to battle for first place and bragging rights! You can expect to play around 2 games weekly on
            <a href="https://colonist.io/">colonist.io/</a>.</p>

        <h3>Our Story</h3>
        <p>Anish and Arjun started this league ...</p>

        <h3>Our Team</h3>
        <!-- filler images for now also try to get the cards to be inline-->
        <div class="card">
            <img class="floatRight" style="width:150px;" src="../static/img/images/colonist.png" alt="">
            <h4 class="floatLeft">Person One</h4>
            <p class="floatLeft">About them</p>
        </div>
        <div class="card">
            <img class="floatRight" style="width:150px;" src="../static/img/images/colonist.png" alt="">
            <h4 class="floatLeft">Person Two</h4>
            <p class="floatLeft">About them</p>
        </div>
        <div class="card">
            <img class="floatRight" style="width:150px;" src="../static/img/images/colonist.png" alt="">
            <h4 class="floatLeft">Person Three</h4>
            <p class="floatLeft">About them</p>
        </div>


    </div>
    <div class="col-4">

        <div class="card">

            <button>Register Now!</button>


        </div>

    </div>

</div>


{% endblock %}