<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Robbers of Catan</title>
    </head>

    <body>

        <header>
            <a href="{{url_for('index')}}"><h1>Robbers of Catan</h1></a>
            <div class="dropdown">
                <a href="{{url_for('contact')}}"><button id="contact-header-button" class="solo-header-button">Contact</button></a>
            </div>
            <div class="dropdown">
                <a href="{{url_for('about')}}"><button id="about-header-button" class="dropbtn">About</button></a>
                <div class="dropdown-content">
                    <a href="{{url_for('producers')}}">Producers</a>
                    <a href="{{url_for('hosts')}}">Hosts</a>
                    <a href="{{url_for('editors')}}">Editors</a>
                    <a href="{{url_for('marketers')}}">Marketers</a>
                    <a href="{{url_for('developers')}}">Developers</a>
                    <a class="dropdown-content-last" href="{{url_for('artists')}}">Artists</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="{{url_for('podcasts')}}"><button id="podcasts-header-button" class="dropbtn">Podcasts</button></a>
                <div class="dropdown-content">
                    <a class="dropdown-content-last" href="{{url_for('the_break')}}">The Break</a>
                </div>
            </div>
        </header>

        <h1></h1>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>

</html>